<h1>ユーザー一覧</h1>
<table class="table table-hover">
  <thead class = "row">
    <tr>
      <th class = "col-sm" >id</th>
      <th class = "col-sm">名前</th>
      <th class = "col-sm">メールアドレス</th>
      <th class = "col-sm">誕生日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @user.each do |user| %>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.birthday %></td>
      <% end %>
  </tbody>
</table>
