<div class="container">
  <h1>ユーザー一覧</h1>
  <table class="table table-bordered border-primary table-hover table-sm posts_table">
     <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 5%; text-aline: center" class= "text-center">id</th>
        <th scope = "col" style= "width: 20%; text-aline: center" class= "text-center">名前</th>
        <th scope= "col" style= "width: 30%; text-aline: center" class= "text-center">メールアドレス</th>
        <th scope = "col" style= "width: 10%; text-aline: center" class= "text-center">誕生日</th>
        <th scope = "col" style= "width: 30%; text-aline: center" class= "text-center">住所</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @user.each do |user| %>
        <td class= "text-center"><%= user.id %></td>
        <td class= "text-center"><%= user.name %></td>
        <td class= "text-center"><%= user.email %></td>
        <td class= "text-center"><%= user.birthdoy %></td>
        <% end %>
    </tbody>
  </table>
</div>