/*---signup----*/
#singup * {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
#singup .box {
  width: 30%;
  height:auto;
  margin: 60px auto 30px;
  border-radius: 4px;
  border: 1px #ddd solid;
  
}

#singup .box-inner {
  padding: 20px 26px;
  background-color:#FFEBCD;
}
#singup h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: black;
}
#singup .box-email {
  margin-bottom: 13px;
}
#singup .birthday {
  margin-bottom: 13px;
}
#singup .birthday label{
  font-weight: 600;
  font-size:13px;
}
#singup .box-password {
  margin-bottom: 22px;
}
#singup .box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}
#singup .box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}
#singup .column-left {
  float: left;
}
#singup .box-password a {
  font-size: 13px;
}

#singup .box-login {
  margin-bottom: 26px;
}

#singup .box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

#singup .box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}
#singup .box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

#singup .box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

#singup .box-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

#singup .box-newusr a:hover {
  background: #e7e9ec;
}
@media only screen and (max-width: 480px){
  #singup .box {
  width: 70%;
  height:auto;
  margin: 40px 20% 20px 11%;
  border-radius: 4px;
  border: 1px #ddd solid;
  
}
#singup .birthday p{
  font-size:15px;
  font-weight: 700;
}
}
/*---editpass---*/
#edit_pass * {
  margin:0;
  padding:0;
  border:none;
  list-style:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#edit_pass h1{
  padding:50px;
}
#edit_pass body {
  font:15px/1.25 'Alef';
  color:#111;
}

#edit_pass .form {
  margin:70px auto;
  background:#2a3644;
  width:347px;
  text-align:center;
  padding:40px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
}

#edit_pass .form > h2 {
  color:#f4f4f4;
  text-shadow:1px 1px 0px rgba(0, 0, 0, 0.7);
  font-weight:400;
  margin-bottom:20px;
}
#edit_pass .form .field{
  margin-top:30px;
}
#edit_pass .form .field2{
  margin-top:-20px;
}
#edit_pass .form label{
  color:white;
  text-align:left;
  width:100%;
}
#edit_pass input {
  background:rgba(0, 0, 0, 0.2);
  color:#fff;
  text-shadow:1px 1px 0px rgba(0, 0, 0,0.3);
  display:block;
  width:269px;
  padding:15px;
  margin-bottom:10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
  outline:none;
}

#edit_pass input:focus {
  background:rgba(0, 0, 0, 0.1);
   -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
}

::-webkit-input-placeholder {
   color: rgba(225, 225, 225, 0.4);
}

:-moz-placeholder {
   color: rgba(225, 225, 225, 0.4); 
}

::-moz-placeholder {
   color: rgba(225, 225, 225, 0.4);
}

:-ms-input-placeholder {  
   color: rgba(225, 225, 225, 0.4);
}

#edit_pass .button {
  display:block;
  margin-top:15px;
  margin-bottom:15px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
   -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
  font-size:1.2em;
  cursor:pointer;
}

#edit_pass .button:hover {
  background-color:gray;
}