.jumbotron {
   width:100%;
   height:auto;
   background-image: url("camera.jpg");
   background-size: cover;
}

#invis .logbtn {
  background-color: transparent;
  line-height: 275%;
  width:20%;
  border:2px solid white;
  border-radius:30px;
  margin-left:60%;
  margin-top:12%;
  font-size:30px;
  margin-bottom:2%;
}
#invis .logbtn:hover {
  background-color: rgba(255, 255, 255, .2);
}
#invis .newbtn {
  background-color: transparent;
  border: 2px solid white;
  line-height: 275%;
  border-radius:30px;
  width:20%;
  margin-left:60%;
  margin-bottom:3%;
  font-size:30px;
  
  
}
#invis .newbtn:hover {
  background-color: rgba(255, 255, 255, .2);
}
#invis p {
  text-decoration:none; 
  text-align:center; 
  margin-top:15px;
}
#invis p a {
  color:white;
  
}
#homeword h1 {
  margin-left:15%;
  
}
#homeword h2 {
  margin-top:1%; 
  margin-left:40%;
}

@media only screen and (max-width: 480px){
  .jumbotron {
   width:100%;
    min-height: 100vh;
   background-image: url("sk8.jpg");
   background-size: cover;
   background-position: center center;
   margin-bottom:0;
}
  #invis .logbtn{
    font-size:12px;
    border: 2px solid #fff;
    background-color: transparent;
    width:25%;
    line-height: 40%;
    margin-left:40%;
    margin-top:40%;
  }
  #invis .logbtn a,
  #invis .newbtn a{
     color:white;
  }
  #invis .newbtn{
    font-size:12px;
    border: 2px solid #fff;
    background-color: transparent;
    width:25%;
    line-height: 40%;
    margin-left:40%;
  }
  #homeword h1{
    font-size:24px;
    margin-left:5%;
    margin-top:15%;
  }
  #homeword h2 {
    font-size:13px;
    margin-left:30%;
  }
}